* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(25,27,29,1) 100%);
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1.5em;
}

figure > img {
    box-shadow: 3px 3px rgb(15, 15, 15);
    border-radius: 30px;
}

figcaption {
    font-family: 'Spinnaker', sans-serif;
    text-align: center;
    color: rgb(241, 241, 241);
    margin: 1em 0 0 0;
    font-size: 110%;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(7, 7, 7);
    font-family: 'Michroma', sans-serif;
    font-size: 400%;
    color: #efbf03;
}

p {
    margin: 1em;
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    font-size: x-large;
    color: rgb(241, 241, 241);
}

/* NAVIGATION */

.navbar {
    display: flex;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 34, 41);
    font-size: x-large;
    font-family: 'Michroma', sans-serif;
}

.logo > img {
    width: 10%;
    height: auto;
}

.nav-item a {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
}

.nav-links #active a {
    color:rgb(255, 153, 0);
}

.nav-item:hover a {
    color: rgb(255, 102, 0);
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: 'Spinnaker', sans-serif;
  }