@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

body {
    background: #eee;
    font-family: 'Lily Script One';
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;
}